dialog {
    border: 5px solid red;
    transform: translateX(50px);
    transition: all 1s ease-in;

}

dialog.active {
    border: 5px solid red;
    transition: all 1s ease-in;
    transform: translateX(0px);
}

dialog::backdrop{
    opacity: 0;
    background-color: black;
    transition: all 1s ease-in;
}

dialog.active::backdrop{
    opacity: 0.5;
    transition: all 1s ease-in;
}